*{
    list-style: none;
    text-decoration: none;
  }
  @font-face{
    src: url("./fonts/BMDOHYEON_ttf.ttf");
    font-family: "dohyeon";
}
@font-face{
    src: url("./fonts/NanumSquare_acEB.ttf");
    font-family: "nanum";
}
@font-face {
    font-family: "nanumR";
    src: url("./fonts/NanumSquareR.ttf");
}
  body{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
.headQuiz{
  width: 600px;
}
  input[type="radio"]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  input:checked + .correct{
    text-shadow: 10px 10px 10px #818181;
    color: blue;
  }
  input:checked + .incorrect{
    text-shadow: 10px 10px 10px #818181;
    color: red;
  }
  .quiz{
    font-weight: bold;
    width: 600px;
    text-align: center;
    border: 3px solid black;
    background-color: white;
  }
  .Qheader{
    font-family: "dohyeon";
    font-size: 60pt;
    font-weight: bold;
    margin: 5% 0;
  }
  .Qexplane{
    font-family: "nanum";
    font-size: 30pt;
  }
  .correct{
    display: inline-block;
    color: gray;
    font-weight: bold;
    font-size: 150px;
    cursor: pointer;
  }
  .line{
    display: inline-block;
    height: 150px;
    background-color: black;
    width: 3px;
    margin: 0 5%;
  }
  .incorrect{
    display: inline-block;
    color: gray;
    font-weight: bold;
    font-size: 150px;  
    cursor: pointer;
  }
  .footer{
    text-align: center;
    width: 410px;
  }
  .enter{
    display: flex;
    align-items: center;
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
    margin: 5%;
    border-radius: 20px;
    background-color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .btnWord{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
  }
  .enterBtn{
    position: relative;
    left: 25%;
  }
  .arrow{
    width: 50px;
    margin: 0 10%;
    position: relative;
    left: 30%;
  }
  .kakao{
    width: 300px;
    position: relative;
    left: 55%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 5px black;
    margin: 5% 0;
  }
